<?php
/**
 * Product list template
 *
 * @see Mage_Catalog_Block_Product_List
 */

$_productCollection=$this->getLoadedProductCollection();
$_helper = $this->helper('catalog/output');



if (!$_productCollection->count()){ 
echo '<p class="note-msg">'.$this->__("There are no products matching the selection.").'</p>';
} else { 
?>
<div class="row my_toolbar" >
<? echo $this->getToolbarHtml() ?>
</div>
<div class="category-products">
    <? 
	

    // Grid Mode 

    $_collectionSize = $_productCollection->count() ;
    //$_columnCount = $this->getColumnCount(); 
    $_columnCount = 3 ;
	$i=1;
	echo '<div class="row prod-grid">'; 
	foreach ($_productCollection as $_product){ 
		echo '<div class="col-md-4 prod-grid-cont">';
		?>
			<div class="row clearfix" >
				<div class="col-md-12 list-prodcont">
					<div class="row clearfix">
						<div class="col-md-12 list-prodimage">
						<a href="<? echo $_product->getProductUrl() ?>" 
						title="<? echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" 
						class="thumbnail">
						<img src="<? echo $this->helper('catalog/image')->init($_product, 'small_image'); ?>" 
						alt="<? echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
						</a>
						</div>
					</div>
					<div class="row clearfix">
						<div class="col-md-12 list-prodname to-center">
						<a href="<? echo $_product->getProductUrl() ?>" 
						title="<? echo $this->stripTags($_product->getName(), null, true) ?>">
						<? echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?>
						</a>
						</div>
					</div>
					<div class="row clearfix">
						<div class="col-md-8 list-prodprice to-center">
						<?
						$store = Mage::app()->getStore();
						$id_store = $store->getId();
						$cur = Mage::app()->getStore($id)->getCurrentCurrencyCode();
						//echo '<span class="cur-smaller">'.$cur.'</span> '.$_product->getPrice();
						echo $this->getPriceHtml($_product, true);
						?>
						</div>
						<div class="col-md-4 list-buy to-center">
						<?
						if($_product->isSaleable()){
						?>
						<i class="icon-basket ico-list-buy" onclick="setLocation('<? echo $this->getAddToCartUrl($_product) ?>')" title="Add to cart" ></i>
						<?
						} else {
						?>
						<?
						}
						?>
						</div>
					</div>
				</div>
			</div>
		<?
		echo '</div>';
			if ($i%$_columnCount==0){ 
			echo '</div>';
			echo '<div class="row prod-grid">'; 
			}
		$i++; 
	}
	echo '</div>';
	
    ?>

    <div class="row my_toolbar mtbot" >
	<? echo $this->getToolbarHtml() ?>
	</div>
</div>
<?
} 
?>
