/******GENERAL*************/
@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans:100,300,400,500,700,800,900);
html {
	width: 100%; 
	height: 100%;
	
}
body { 
height: 100%;
background-color:#ebe8e5;
text-align:left;
font-family: 'Alegreya Sans', sans-serif;
color:#000000;
}
a {
color:#000000;
text-decoration:none;
-webkit-transition: all 300ms linear;
   -moz-transition: all 300ms linear;
   -o-transition: all 300ms linear;
   -ms-transition: all 300ms linear;
   transition: all 300ms linear;
}

a:hover{
color:#CCCCCC;
}

.main-color {
background-color: #FF9933;
}

.content-color {
background-color:#ebe8e5;
}

.to-center {
text-align:center;
}

.to-right {
text-align:right;
}

.delizia-modal-bgcolor {
background-color: #FF9933;
border-top-left-radius:5px;
border-top-right-radius:5px;
padding: 15px 15px 15px 15px;
}
.delizia-modal-alert{
font-size:16px;
}


.btn-cart,
.btn-delizia {
  color:#666666;
  background-color: #FF9933;
  border-color: #666666;
}

.btn-cart:hover,
.btn-cart:focus,
.btn-delizia:hover,
.btn-delizia:focus,
.btn-delizia:active,
.btn-delizia.active,
.open .dropdown-toggle.btn-delizia {
  color:#999999;
  background-color: #FF9933;
  border-color: #999999;
}

.btn-delizia:active,
.btn-delizia.active,
.open .dropdown-toggle.btn-delizia {
  background-image: none;
}

.btn-delizia.disabled,
.btn-delizia[disabled],
fieldset[disabled] .btn-delizia,
.btn-delizia.disabled:hover,
.btn-delizia[disabled]:hover,
fieldset[disabled] .btn-delizia:hover,
.btn-delizia.disabled:focus,
.btn-delizia[disabled]:focus,
fieldset[disabled] .btn-delizia:focus,
.btn-delizia.disabled:active,
.btn-delizia[disabled]:active,
fieldset[disabled] .btn-delizia:active,
.btn-delizia.disabled.active,
.btn-delizia[disabled].active,
fieldset[disabled] .btn-delizia.active {
  background-color: #f0ad4e;
  border-color: #eea236;
}

.btn-delizia .badge {
  color: #f0ad4e;
  background-color: #fff;
}


.logo-container {
padding: 5px 0 5px ;
}

.top-links a{
color:#FFFFFF;
text-decoration:none;
font-family: 'Alegreya Sans', sans-serif;
font-size:16px;
}

.top-links a:hover{
color:#999999;
}

.top-links ul{
margin: 0 0 0 0;
padding:15px 0 0 0;
}
.top-links li{
margin: 0 0 0 0;
padding:0 10px 0 0;
}

.home {
width: 100%; 
}

.main-home-1 , .main-home-2, .main-home-3, .ita, .li , .ani {
color:#000000;
text-align:center;
font-family: 'Alegreya Sans', sans-serif;
font-size:38px;
font-weight:300;
}

.main-home-1 {
padding-top:140px;
}

.main-home-2 {
padding-bottom:70px;
}

.home-delizia {
color:#FF9933;
font-weight:400;
}

.ita {
color:#009900;
}

.li {
color:#FFFFFF;
}

.ani {
color:#FF0000;
}

.home-margin {
margin: 15px;
}

.home-ico-text  {
background-color:#999999;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
-khtml-border-radius: 3px;
border-radius: 3px;
color:#FFFFFF;
font-family: 'Alegreya Sans', sans-serif;
font-size:32px;
font-weight:400;
-webkit-transition: all 300ms linear;
-moz-transition: all 300ms linear;
-o-transition: all 300ms linear;
-ms-transition: all 300ms linear;
transition: all 300ms linear;
}

.home-ico-text  a{
text-decoration:none;
color:#FFFFFF;
}

.home-ico-text:hover{
background-color:#CCCCCC;
}

.salato {
padding-top:40px;
}

.spansalato {
color:#000000;
font-family: 'Alegreya Sans', sans-serif;
font-size:28px;
font-weight:300;
vertical-align:bottom;
}

.spalapad {
padding-bottom:40px;
}

.spalapad2 {
padding-top:60px;
}


.spansalato2 a {
color:#000000;
font-family: 'Alegreya Sans', sans-serif;
font-size:28px;
font-weight:200;
text-decoration:none;
vertical-align:bottom;
}

.spansalato2 a:hover {
color:#999999
}


.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: #FF9933;
  text-align: center;
  
}

.carousel-control.left {
background-image:none
}

.carousel-control.right {
  right: 0;
  left: auto;
  background-image:none
}

.carousel-control:hover,
.carousel-control:focus {
  text-decoration: none;
  color: #FF9933;
}

.carousel-indicators li {
  
  border: 1px solid #FF9933;
}

.carousel-indicators .active {
  background-color: #FF9933;
}

.ca-ca {
font-family: 'Alegreya Sans', sans-serif;
}

.ca-ca a{
  color: #FF9933;
  text-decoration:none;
  font-size:28px;
  font-weight:500;
}

.ca-ca a:hover{
color:#CCCCCC;
}

.ca-ca2 {
font-size:42px;
font-weight:500;
}

.testi {
font-family: 'Alegreya Sans', sans-serif;
padding-top:30px;
}

.dropdown_container {
font-family: 'Alegreya Sans', sans-serif;
}

.dropdown_container h2, .namecat {
font-family: 'Alegreya Sans', sans-serif;
font-size:24px;
font-weight:400;
}

.menu-pad {
padding-bottom:25px;
}

.menulink a {
text-decoration:none;
font-size:18px;
font-weight:400;
color:#000000;
}

.menulink a:hover {
color:#999999;
}

.namecat{
padding-bottom:20px;
}

.my_toolbar {
padding-bottom:20px;
font-family: 'Alegreya Sans', sans-serif;
font-size:16px;
}

.mtbot {
padding-top:20px;
}

.my_toolbar span {
background-color:#FF9933;
}

.my_toolbar label {
font-weight:300;
}

.my_toolbar a {
color:#FF9933;
}

.my_toolbar a:hover {
color:#999999;
}

.prod-grid-cont {
margin-top:30px;
font-family: 'Alegreya Sans', sans-serif;
}

.list-prodname a{
font-size:18px;
font-weight:300;
color:#000000;
text-decoration:none;
}

.list-prodname a:hover{
color:#999999
}

.list-prodprice{
font-size:26px;
font-weight:300;
}

.cur-smaller{
font-size:18px;
}

.ico-list-buy {
font-size:24px;
color:#FF6633;
cursor:pointer;
}

.ico-list-buy:hover {
color:#999999;
}

.text-big {
color:#000000;
font-family: 'Alegreya Sans', sans-serif;
font-size:24px;
font-weight:500;
}

.text-med {
color:#000000;
font-family: 'Alegreya Sans', sans-serif;
font-size:16px;
font-weight:300;
}
.text-lit {
color:#000000;
font-family: 'Alegreya Sans', sans-serif;
font-size:14px;
font-weight:300;
}

.price-box,.regular-price,.price {
font-family: 'Alegreya Sans', sans-serif;
color:#000000;
font-size:32px;
font-weight:300;
}

.input-group-addon {
font-family: 'Alegreya Sans', sans-serif;
padding: 6px 12px;
font-size: 14px;
font-weight: normal;
line-height: 1;
color: #555555;
text-align: center;
background-color: #eeeeee;
border: 1px solid #cccccc;
border-radius: 4px;
}

.qty {
padding:6px 2px;
}

.checkoutdiv {
background-color:#FF9933;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-khtml-border-radius: 5px;
border-radius: 5px;
border: #999999 1px solid;
padding:20px;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  cursor: default;
  background-color: #ebe8e5;
  border: 1px solid #dddddd;
  border-bottom-color: transparent;
  text-decoration: none;
}

.nav-tabs > li > a:hover {
  border-color: transparent;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: transparent;
  border-color: transparent;
}

.nav > li > a:hover,
.nav > li > a:focus {
color:#000;
  text-decoration: underline;
  background-color: #ebe8e5;
  border-bottom-color:#dddddd;
}

.megamenu_container {
z-index: 9990;
}
.modal-backdrop {
  z-index: 9991;
  background-color: #333333;
}












