<script>
$j(document).ready(function() {
	$j('#li_cart').removeClass('active');
	$j('#li_diet').addClass('active');
	$j('#cart').removeClass('active');
	$j('#diet').addClass('active');
});
</script>
<?
/****************************************************************************************************/
// http://www.magentocommerce.com/knowledge-base/entry/magento-for-dev-part-8-varien-data-collections
// var_dump((string) $products->getSelect());
/*$productAttrs = Mage::getResourceModel('catalog/product_attribute_collection');
		foreach ($productAttrs as $productAttr) { 
		echo "<pre>";
			var_dump($productAttr->getAttributeCode());
		echo "</pre>";
		} */
////$products->addAttributeToFilter('glutenfree',array('eq' => '1'));
/*****************************************************************************************************/
//echo "<pre>";
//print_r ($this->getRequest()->getParams());
//echo "</pre>";

$p = Mage::helper('nutri');
$p->skin = $this->getSkinUrl();
$post = $this->getRequest()->getParams();
foreach($post as $cat_id => $value){
$cat = $category = Mage::getModel('catalog/category')->load($cat_id);
?>
<div class="row">
<div class="col-md-12 namecat"><?  echo $cat->name ?></div>
</div>
<?
$filter_container = array();
	foreach($value as $valur) {
	$filter = array();
	$filter['attribute'] = trim($valur);
	$filter['eq'] = '1';
	$filter_container[] = $filter;
	}
$products = $category->getProductCollection();
$products->addAttributeToFilter($filter_container);
$products->addAttributeToSelect('*');
$_helper = $this->helper('catalog/output');
$_columnCount = 3 ;
$i=1;
if (count($products) != 0) {
} else {
echo 'No products found ...';
}
echo '<div class="row prod-grid">'; 
	foreach ( $products as $_product ){
		echo '<div class="col-md-4 prod-grid-cont">';
		?>
			<div class="row clearfix" >
				<div class="col-md-12 list-prodcont">
					<div class="row clearfix">
						<div class="col-md-12 list-prodimage">
						<a href="<? echo $_product->getProductUrl() ?>" 
						title="<? echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" 
						class="thumbnail">
						<img src="<? echo $this->helper('catalog/image')->init($_product, 'small_image'); ?>" 
						alt="<? echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
						</a>
						</div>
					</div>
					<div class="row clearfix">
						<div class="col-md-12 list-prodname to-center">
						<a href="<? echo $_product->getProductUrl() ?>" 
						title="<? echo $this->stripTags($_product->getName(), null, true) ?>">
						<? echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?>
						</a>
						</div>
					</div>
					<div class="row clearfix">
						<div class="col-md-4 list-prodprice">
						<?
						$store = Mage::app()->getStore();
						$id_store = $store->getId();
						$cur = Mage::app()->getStore($id)->getCurrentCurrencyCode();
						//echo '<span class="cur-smaller">'.$cur.'</span> '.$_product->getPrice();
						echo "&euro; ".$_product->getFinalPrice();
						?>
						</div>
						<div class="col-md-8 list-buy to-right">
						<?
						if($_product->isSaleable()){
						echo $p->ico_organic($_product->organic);
						echo $p->ico_glutenfree($_product->glutenfree);
						//$add = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB)."checkout/cart/add?product=".$_product->getId();
						$add = (string)Mage::helper('checkout/cart')->getAddUrl($_product,$post)
						
						?>
						<a href="<? echo $add ?>" onclick="javascipt:alert('<? echo $this->stripTags($_product->getName(), null, true) ?> added to cart')" ><? echo $p->ico_buy()?></a>
						<?
						} else {
						?>
						<?
						}
						?>
						</div>
					</div>
				</div>
			</div>
		<?
		echo '</div>';
			if ($i%$_columnCount==0){ 
			echo '</div>';
			echo '<div class="row prod-grid">'; 
			}
		$i++; 
	}// end products foreach
	echo '</div>';
	?>
	<div class="row clearfix" style="padding-bottom:35px;"><div class="col-md-12 column"></div></div>
	<?
}// end category foreach
?>
