<div class="container testi">
<div class="std">
<p style="padding-top: 15px;"><strong>Delizia</strong> guarantees that the delivered products are equal to those shown and described on the site and compliance with all regulations regarding the storage of goods until delivery to the place specified in the order. For all products sold is the responsibility of the manufacturer. In the case of packaged products, the manufacturer is also responsible for the truthfulness and completeness of the information on the packaging. The images on this site are provided to facilitate the Customer's recognition of the products due to changes in the packaging from the manufacturer, pictures may not reflect the actual appearance of the product delivered.</p>
<p>As required by the <strong>Italian Consumer Code LEGISLATIVE DECREE 206/05</strong> (ex right of withdrawal) the customers of <strong>Delizia</strong> have the money back guarantee with the ability to return products<strong> within 10 working days</strong> of receipt, except for the case that the case of products which by their nature cannot be returned.</p>
<p>&nbsp;</p>
<h2>HOW TO CLAIM A REFUND</h2>
<p>You need to send a letter or an e-mail to Delizia <strong>within 10 working days from receipt of goods</strong>. In this communication the customer must indicate the product or products for which it intends to exercise the right of withdrawal.<br><br> - To exercise the right of withdrawal is necessary to return the purchased products, in <strong>excellent condition</strong> and <strong>with original unremoved tags</strong>.<br> - The returned items must be accurate in order to <strong>protect the original covers</strong> from any damage, writing or labeling.<br> - It is recommended to use a traceable and insured method of shipping, since for the loss, the non-receipt or damage of material submitted will not be responsible Delizia.<br>- Refund <strong>DOES NOT</strong> include transport costs, both those incurred in the original shipment of the goods and those for the subsequent return.<br> - The goods will be refunded by <strong>Delizia</strong> after checking the contents and condition of the goods, within 30 days of receipt of the notification by the customer.</p>
<p>For any communication about complaints the customer may use the e-mail address: sales@italian-charcuterie.com</p>
</div>
</div>