<?
$skin = $this->getSkinUrl();
$cat_ids = array(11);

function do_grid($id_cat,$skin) {
$cat = Mage::getModel('catalog/category')->load($id_cat);
?>
<tr>
	<td class="text-med"><? echo $cat->name ?></td>
	<td></td>
	<td></td>
</tr>
<?
$subcats = $cat->getChildren();
foreach(explode(',',$subcats) as $subCatid){
	$_category = Mage::getModel('catalog/category')->load($subCatid);
		if($_category->getIsActive()) {
		?>
		<tr>
			<td class="text-lit"><? echo $_category->name  ?></td>
			<td><input type="checkbox"  name="<? echo $subCatid  ?>[]" value="organic"></td>
			<td><input type="checkbox"  name="<? echo $subCatid  ?>[]" value="glutenfree"></td>
		</tr>
		<?
		} // end if is_active
	} // end foreach
} // end function


?>
<div class="row clearfix">
		<div class="col-md-12 column" >
			<div class="namecat">
				Nutritional search
			</div>
			<div class="row clearfix" style="padding-bottom:25px;">
				<div class="col-md-2 column">
					<div class="to-center ">
					<img src="<? echo $this->getSkinUrl(); ?>images/nico/ico-bio-100.png"  width="50px"/>
					</div>
					<div class="to-center text-med">
					Organic
					</div>
				</div>
				<div class="col-md-6 column">
					<div class="to-center">
					<img src="<? echo $this->getSkinUrl(); ?>images/nico/ico-gluten-free-100.png"  width="50px"/>
					</div>
					<div class="to-center text-med">
					Gluten Free
					</div>
				</div>
				
			</div>
			
			<form id="diet_form" role="form" method="get" action="<? echo Mage::getUrl('nutri') ?>">
			<div class="row clearfix">
				<div class="col-md-12 column">
				<table class="table table-hover" >
				<tr>
					<td></td>
					<td><img src="<? echo $skin  ?>images/nico/ico-bio-100.png" class="img-responsive" width="25px"/></td>
					<td><img src="<? echo $skin ?>images/nico/ico-gluten-free-100.png" class="img-responsive" width="25px"/></td>
				</tr>
				<?
				foreach ($cat_ids as $id_cat) {
				echo do_grid($id_cat,$skin);
				}
				?>
				</table>
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-12 column">
				<button type="submit" class="btn btn-delizia" >Search</button>
				</div>
			</div>
			</form>
			<script>
			$j(document).ready(function() {
				
				
				$j('#diet_form :checkbox').click(function(event) {
					if (this.checked && $j('input:checked').length > 3) {
						this.checked = false;
						$j('#toomuch').modal('show')
					}
					
				});
				
				$j( "#diet_form" ).submit(function( event ) {
					if ($j('input:checked').length === 0) {
						$j('#sofew').modal('show')
						event.preventDefault();
					}
				});
				
			});
			
			</script>
		</div>
	</div>
	
	
	<div class="modal" id="toomuch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="z-index:9995">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header delizia-modal-bgcolor">
			<span class="delizia-modal-alert">Alert!!</span>
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove-circle" style="color: #000; padding-bottom:200px;"></span></button>
		  </div>
		  <div class="modal-body namecat" style="text-align:center;padding:50px;">
			Please, don't check more then 3 boxes ;)
		  </div>
		</div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
	
	<div class="modal" id="sofew" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="z-index:9995">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header delizia-modal-bgcolor">
			<span class="delizia-modal-alert">Alert!!</span>
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove-circle" style="color: #000; padding-bottom:200px;"></span></button>
		  </div>
		  <div class="modal-body namecat" style="text-align:center;padding:50px;">
			Please, check at least one box ;)
		  </div>
		</div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
