<section id="about">
   <div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column j-about">
				<h1>
					Welcome to the Italian Charcuterie shop!
				</h1>
				<p>
					Here you can find the fresh original Italian gastronomy products, directly shipped from Italy, bla bla bla...
				</p>
				
		</div>
	</div>
	<div class="row clearfix c-about">
		<div class="col-md-4 column cc-about">
			<h3 class="text-center text-primary">
				Packaging
			</h3><img alt="140x140"  src="<? echo $this->getSkinUrl(); ?>images/ico/ico_packaging.png">
			<p class="text-center">
				I nostri alimenti vengono spediti con degli imballi speciali ecosostenibili che garantiscono la perfetta conservazione della loro freschezza e del loro sapore originari<br />
				come il Polystyrene ed il ghiaccio secco nel caso di prodotti semi-freschi.
			</p>
		</div>
		<div class="col-md-4 column cc-about">
			<h3 class="text-center text-primary">
				Shipping
			</h3><img alt="140x140" src="<? echo $this->getSkinUrl(); ?>images/ico/ico_shipping.png">
			<p class="text-center">
				Il nostro partner nelle spedizioni e' <a href="http://www.dhl.com" target="_blank">DHL</a>.<br />Presente in tutto il mondo,
				DHL garantisce un servizio di consegna nell'arco di 48/72 ore in tutte le aree geografiche, per garantire la freschezza del prodotto spedito.
			</p>
		</div>
		<div class="col-md-4 column cc-about">
			<h3 class="text-center text-primary">
				Payment
			</h3><img alt="140x140" src="<? echo $this->getSkinUrl(); ?>images/ico/ico_payment.png">
			<p class="text-center">
				In questo momento il nostro <br />gateway di pagamento preferito e' <a href="http://www.paypal.com" target="_blank">PayPal</a>.
				Nessun dato sensibile riguardante le vostre carte di credito passa attraverso i nostri server, ma tutto viene effettuato sui server supersicuri di Paypal.
			</p>
		</div>
	</div>
</div>
</section>