<section class="home content-color">
	<div class="container">
		<div class="row main-home-1">
			<div class="col-md-8 col-md-offset-2">
			Ciao, benvenuto su <span class="home-delizia">Delizia</span> il miglior negozio di
			</div>
		</div>
		<div class="row main-home-2">
			<div class="col-md-8 col-md-offset-2">
			prodotti <span class="ita">Ita</span><span class="li">li</span><span class="ani">ani</span> sul web. Di cosa hai voglia?
			</div>
		</div>
		<div class="row">
			<div class="col-md-2 col-md-offset-3" >
			<div class="home-margin">
				<div class="home-ico to-center">
				<img src="<? echo $this->getSkinUrl(); ?>images/nico/salato.png">
				</div>
				<div class="home-ico-text to-center" >
				<a href="">salato</a>
				</div>
			</div>
			</div>
			<div class="col-md-2 " >
			<div class="home-margin">
			    <div class="home-ico to-center ">
				<img src="<? echo $this->getSkinUrl(); ?>images/nico/dolce.png">
				</div>
				<div class="home-ico-text to-center">
				<a href="">dolce</a>
				</div>
			</div>
			</div>
			<div class="col-md-2 " >
			<div class="home-margin">
			    <div class="home-ico to-center ">
				<img src="<? echo $this->getSkinUrl(); ?>images/nico/bere.png">
				</div>
				<div class="home-ico-text to-center" >
				<a href="">bere</a>
				</div>
			</div>
			</div>
		</div>
	</div>
</section>