<section id="featured">
   <div class="container p-header">
   <h1 class="ph1">FEATURED PRODUCTS</h1>
   </div>
   <div class="container">
	<?
	$products = Mage::getModel('catalog/product')->getCollection();
	//Magento does not load all attributes by default
	//Add as many as you like
	$products->addAttributeToSelect('name');
	foreach($products as $product) {
	//do something
	}
	?>
		<!--Bar-->
		<div class="mosaic-block bar">
			<a href="#" target="_blank" class="mosaic-overlay">
				<div class="details">
					<h4>Salami, ham, cold cuts</h4>
					<p>by IC</p>
				</div>
			</a>
			<div class="mosaic-backdrop"><img src="http://www.bonappetit.com/wp-content/uploads/2012/03/creminelli-salumi-646.jpg"/></div>
		</div>
		
		<div class="mosaic-block bar">
			<a href="#" target="_blank" class="mosaic-overlay">
				<div class="details">
					<h4>Preserves, condiments and sauces</h4>
					<p>by Build IC</p>
				</div>
			</a>
			<div class="mosaic-backdrop"><img src="http://www.agrinotizie.com/cms/immagini/image_2035.JPG"/></div>
		</div>
		
		<div class="mosaic-block bar">
			<a href="#" target="_blank" class="mosaic-overlay">
				<div class="details">
					<h4>Seafood</h4>
					<p>by IC</p>
				</div>
			</a>
			<div class="mosaic-backdrop"><img src="http://www.lucianopignataro.it/wp-content/uploads/2013/08/tonno-in-scatola.jpg"/></div>
		</div>
		
		<div class="mosaic-block bar">
			<a href="#" target="_blank" class="mosaic-overlay">
				<div class="details">
					<h4>Pasta</h4>
					<p>by IC</p>
				</div>
			</a>
			<div class="mosaic-backdrop"><img src="http://blog.giallozafferano.it/basilicoeprezzem/wp-content/uploads/2012/08/pasta.jpg"/></div>
		</div>
		
		<div class="mosaic-block bar">
			<a href="#" target="_blank" class="mosaic-overlay">
				<div class="details">
					<h4>Olive Oil</h4>
					<p>by IC</p>
				</div>
			</a>
			<div class="mosaic-backdrop"><img src="http://www.monaciremo.passweb.it/Resources/grafica/olio_bottiglia.jpg"/></div>
		</div>
		
		<div class="mosaic-block bar">
			<a href="#" target="_blank" class="mosaic-overlay">
				<div class="details">
					<h4>Wine</h4>
					<p>by IC</p>
				</div>
			</a>
			<div class="mosaic-backdrop"><img src="http://vini.tipici.info/images/bicchiere-di-vino.png"/></div>
		</div>
		
		<div class="mosaic-block bar">
			<a href="#" target="_blank" class="mosaic-overlay">
				<div class="details">
					<h4>Coffee</h4>
					<p>by IC</p>
				</div>
			</a>
			<div class="mosaic-backdrop"><img src="http://www.torrefazionegourmet.it/foto/consigli-per-ottimo-caffe.jpg"/></div>
		</div>
		
		<div class="mosaic-block bar">
			<a href="#" target="_blank" class="mosaic-overlay">
				<div class="details">
					<h4>Chocolate and sweeties</h4>
					<p>by IC</p>
				</div>
			</a>
			<div class="mosaic-backdrop"><img src="http://saicosamangi.org/wp-content/uploads/2013/05/cioccolato.gif"/></div>
		</div>
		
	</div> 
	<div class="container p-foot">
   </div>            
</section>