<section class="logo main-color">
<div class="container">
<div class="row logo-container">
  <div class="col-md-3"><a href="<? echo $this->getUrl('') ?>" ><img src="<? echo $this->getSkinUrl(); ?>images/nico/delizia.png"></a></div>
  <div class="col-md-6 to-center top-links"><? echo $this->getChildHtml('topLinks') ?></div>
  <div class="col-md-3 to-right" style="padding-top:5px; width:150px;">
  <? echo $this->getChildHtml('store_language') ?>
  </div>
</div>
</div>
</section>
<? echo $this->getChildHtml('topMenu') ?>