<div class="container salato">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 spalapad">
		<span><img src="<? echo $this->getSkinUrl(); ?>images/nico/salato.png" width="50" height="50"></span> <span class="spansalato">Salato</span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			<?
			$categoryid = 14;
			
			$category = new Mage_Catalog_Model_Category();
			$category->load($categoryid);
			$collection = $category->getProductCollection();
			$collection->addAttributeToSelect('*');
			?>
			<ol class="carousel-indicators">
			<? 
			$i=0;
			foreach ($collection as $product) { 
			?>
			<li data-target="#carousel-example-generic" data-slide-to="<? echo $i ?>" <? if ($i==0) echo 'class="active"'; ?>></li>
			<? 
			$i++;
			}
			?>
			</ol>
			<div class="carousel-inner">
			<? 
			
			$i=0;
			foreach ($collection as $product) { 
			//echo $product->name.'<br>';
			//echo round($product->price,2).'<br>';
			//echo $product->image.'<br>';
			//echo '<img src="'.$this->helper('catalog/image')->init($product, 'image').'"><br>';
			//echo $product->url_path.'<br>';
			//echo $product->short_description.'<br>';
			?>
			
			
			  <!-- Wrapper for slides -->
			  
				<div class="item <? if ($i==0) echo ' active'; ?>" >
				  <img src="<? echo $this->helper('catalog/image')->init($product, 'image') ?>" class="img-rounded">
				  <div class="carousel-caption">
					<h3 class="ca-ca"><a href="<? echo $product->url_path  ?>"><? echo $product->name  ?></a></h3><h2 class="ca-ca2"> &euro; <? echo round($product->price,2) ?></h2>
					<p><?  echo $product->short_description ?></p>
				  </div>
				</div>
			  
			
			
			<? 
			$i++;
			} 
			?>
			</div>
			  <!-- Controls -->
			  <a class="left carousel-control " href="#carousel-example-generic" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
			  </a>
			  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
			  </a>
			</div>
		</div>
	</div>
	<div class="row spalapad2">
		<div class="col-md-2 col-md-offset-3">
		<span><img src="<? echo $this->getSkinUrl(); ?>images/nico/dolce.png" width="50" height="50"></span> <span class="spansalato2"><a href="dolce">Dolce</a></span>
		</div>
		<div class="col-md-2 ">
		<span><img src="<? echo $this->getSkinUrl(); ?>images/nico/bere.png" width="50" height="50"></span> <span class="spansalato2"><a href="bere">Bere</a></span>
		</div>
	</div>
</div>
<!----<a href="<?php echo $_product->getProductUrl() ?>"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(200); ?>" width="200" height="200" alt="" /></a> <a href="<?php echo $_product->getProductUrl(); ?>"><?php echo $_product->getName(); ?></a>

---->
